<!doctype html>
<html>
<head>
  <title>Madlibs!</title>
</head>
<body>
    Hi! Let's play!

    
    <form action="/madlib_game">
  Please enter the name of a person:
  <input type="text" name="madlib-name"><br>
  Plesae enter a color:
  <input type="text" name="color"><br> 
  Please enter a noun:
  <input type="text" name="noun"><br>
  Please enter an adjective:
  <input type="text" name="adjective"><br>
  <br>
  <br>
  Please select one:
  <br>
  <input type="checkbox" name="box" value="swoop"> swoop<br>
  <input type="checkbox" name="box" value="dig"> dig<br>
  <input type="checkbox" name="box" value="lift"> lift<br>
  <input type="checkbox" name="box" value="grab">grab<br>
  <br>
  Please select one:
  <br>
  <select name="cat_call">
    <option value="tabby">tabby</option>
    <option value="calico">calico</option>
    <option value="tuxedo">tuxedo</option>
    <option value="siamese">siamese</option>
    <option value="smelly">smelly</option>
</select>
  <input type="submit">

</form>
</body>
</html>